<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zunyu Chen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Parisienne' rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lora' rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nobile" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Viga" rel="stylesheet">

    <!-- CSS -->
	<link rel="stylesheet" href="/static/css/style.css" />

    <!-- JS -->
    <script type="text/javascript" src="/static/js/main.js"></script>

	<!-- icon -->
	<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

    {% block head_content %}
    {% endblock %}

</head>

<body>

<!-- side nav (only in mobile view) -->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{{ url_for('main.main_route') }}"><span class="bold-spacing">Home</span></a>
  <a href="{{ url_for('main.works_route') }}">Works</a>
  <a href="{{ url_for('main.hobbies_route') }}">Hobbies</a>
  <a href="{{ url_for('main.resume_route') }}">Resume</a>
  <a href="{{ url_for('main.contact_route') }}">Contact</a>
</div>

<!-- !!!!! BODY !!!!! -->
<div id="body-div">
    <header>
        <nav>
            <div class="nav-block nav-block-large">
                <div class="nav-ul-block nav-ul-left-block">
                    <ul class="nav-ul nav-ul-left">
                        <li class="nav-ul-li"><a href="{{ url_for('main.works_route') }}">Works</a></li>
                        <li class="nav-ul-li"><a href="{{ url_for('main.hobbies_route') }}">Hobbies</a></li>
                    </ul>
                </div>
                <div class="nav-icon-div">
                    <a href="{{ url_for('main.main_route') }}"><img class="nav-icon" src="/static/images/superball-2.jpg" alt="nav icon" /></a>
                </div>
                <div class="nav-ul-block nav-ul-right-block">
                    <ul class="nav-ul nav-ul-right">
                        <li class="nav-ul-li"><a href="{{ url_for('main.resume_route') }}">Resume</a></li>
                        <li class="nav-ul-li"><a href="{{ url_for('main.contact_route') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="nav-block nav-block-mobile">
                <div class="nav-button-div">
                    <span onclick="openNav()"><img class="nav-icon" src="/static/images/navbar-button.png" alt="nav icon" /></span>
                </div>
                <div class="nav-icon-div nav-icon-div-mobile">
                    <a href="{{ url_for('main.main_route') }}"><img class="nav-icon" src="/static/images/superball-2.jpg" alt="nav icon" /></a>
                </div>
            </div>

        </nav>
        <div id="header-content">
            {% block header_content %}
            {% endblock %}
        </div>
    </header>

    <div class="content-block">
		{% block content %}
		{% endblock %}
        <div id="content-bottom-space"></div>
	</div>

    <footer>
        <p>Copyright &copy; <span style="font-family: 'Gloria Hallelujah', cursive;">Zunyu Chen</span> | 2016</p>
    </footer>
</div>
</body>
</html>
