{% extends "base.html" %}

{% block head_content %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block header_content %}
    <h1>Zunyu Chen</h1>
    <p>Software Development Engineer @ Amazon Web Services</p>
{% endblock %}

{% block content %}
    <p>
      Welcome to my website! 
    </p>
    <p><br>
      I just graduated and got my Master degree in
      Electrical and Computer Engineering at University of Michigan, Ann
      Arbor in April 2017. My interest is back-end development like database, server, cloud computing, distributed system. 
    </p>
    <p><br>
      I am going to join Amazon Web Services as Software Development Engineer in July 2017.
    </p>
    
{% endblock %}
